* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    font-family: "Public Sans", sans-serif;
}

ul.Icon-side-bar {
    padding: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    text-align: center;
    padding-top: 20px;
}

a.nav-link {
    text-align: center;
    font-size: 29px;
    line-height: 56px;
    border-radius: 7px;
    padding: 0;
}

.side-menu-bar {
    width: 75px;
    background-color: #ffff;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 2px 4px rgba(20, 44, 65, 0.23);
}

.nav-item {
    align-items: center;
    margin: 4px 0;
    width: 56px;
    align-items: center;
    color: #495057;
    height: 56px;
    justify-content: center;
    display: flex;
}

img.user-pro {
    width: 36px;
    height: 36px;
    padding: 3px;
    border-radius: 50%;
    background-color: #ffff;
}

.nav-link:active {
    border: 20px solid #333b78c7;
}

@media (max-width: 991px) {
    .side-menu-bar {
        align-items: center;
        bottom: 0;
        position: fixed;
        height: 100;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #7e7e95;
        justify-content: space-evenly;
    }
    .nav-icon {
        display: none;
    }
    ul.Icon-side-bar {
        display: flex;
        flex-direction: row;
        align-items: space-between;
    }
    .nav-item img {
        width: 58px;
        height: 58px;
    }
    img.user-pro {
        right: 20px;
    }
    .nav-dark {
        display: none;
    }
    .nav-item {
        width: 100px;
        height: 100px;
    }
    .Curentt {
        padding: 5PX;
    }
    .global {
        display: none;
    }
    .icons-under-logo {
        justify-content: space-between;
        width: 100%;
    }
    a.nav-link {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}